.utility {
    background: rgb(17, 24, 39);
    background: linear-gradient(
        180deg,
        rgba(17, 24, 39, 1) 0%,
        rgba(31, 41, 55, 1) 100%
    );
}

.utilityContent {
    align-items: center;
    place-items: center;
}
